<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <a [routerLink]="['/chat/room', room.id]">
        #{{room.id}} {{room.title}}
      </a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{room.description}}
    </div>
  </div>
</div>
